:host {
    display: inline-block;
    position: relative;
}

.left-part {
    position: absolute;
    top: -1px;
    bottom: -1px;
    user-select: none;
    left: -1px;
}

.right-part {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    user-select: none;
}
