.review-card {
  max-width: 400px;
}
.media-body {
  display: table-cell;
  vertical-align: top;
}
.newlines {
  white-space: pre-line;
}
.datagrid {
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
}
.footer {
  text-align: left;
  padding-right: 10px;
}
