<mat-card class="review-card">
	<mat-card-header>
		<mat-card-title>{{ review.createdByUser }} had a brew at {{ review.createdDate  | date: 'short'}}</mat-card-title>
		<mat-card-subtitle>Overall Rating: <star-rating [disabled]="true" [value]="review.overall"></star-rating>
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div class="media-body">
			<p class="newlines">{{ review.summary }}</p>
			<!-- <h4 class="newlines">Brew Profile</h4> -->
			<div class="datagrid">
				<table>
					<thead>
						<tr>
							<th>Attribute</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Look</td>
							<td>{{ review.look }}</td>
						</tr>
						<tr>
							<td>Smell</td>
							<td>{{ review.smell }}</td>
						</tr>
						<tr>
							<td>Taste</td>
							<td>{{ review.taste }}</td>
						</tr>
						<tr>
							<td>Feel</td>
							<td>{{ review.feel }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</mat-card-content>
	<mat-card-footer class="footer">
	</mat-card-footer>
</mat-card>