@import '~@angular/material/theming';

.beer-image {
    height: 300px;
    @include mat-elevation(8);
}
.container-beer {
    padding: 20px;
}
.beer-title {
    font-size: 24px;
}
.beer-sub-title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
}
.description {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 12px;
    display: inline-block;
}
.item-value {
    font-size: 20px;
    font-weight: 500;
}
.item-label {
    font-size: 14px;
    color: rgba(black, 0.56);
}
.title-container {
    margin-bottom: 12px;
}
.fab {
    position: fixed;
    right: 24px;
    bottom: 24px;
}
