<mat-card>
	<span mat-card-header>Hello</span>
	<mat-card-content>
		<mat-card-actions>
			<mat-form-field [floatLabel]="true"
				[appearance]="'outline'">
				<mat-label>Outline form field</mat-label>
				<input matInput
					[placeholder]="'test'" />
			</mat-form-field>
			<button mat-button>
				click me
			</button>
		</mat-card-actions>
		<!-- <table class='table table-striped'
			aria-labelledby="tableLabel"
			*ngIf="forecasts">
			<thead>
				<tr>
					<th>Date</th>
					<th>Temp. (C)</th>
					<th>Temp. (F)</th>
					<th>Summary</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let forecast of forecasts">
					<td>{{ forecast.date }}</td>
					<td>{{ forecast.temperatureC }}</td>
					<td>{{ forecast.temperatureF }}</td>
					<td>{{ forecast.summary }}</td>
				</tr>
			</tbody>
		</table> -->
	</mat-card-content>

</mat-card>
